.form-section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../assets/LOST.jpg") center/cover no-repeat;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  background: #111;
  border: 1px solid #1f3b2c;
  color: white;
}

button {
  padding: 12px;
  background: #1f3b2c;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2d5c43;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #666;
}
