/* HERO */
.hero {
  position: relative;
  height: 90vh;
  background: url("../assets/LOST.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 600px;
}

.hero-content h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: 300;
}

.hero-content p {
  margin-bottom: 30px;
  color: #bbb;
}

.btn {
  padding: 12px 28px;
  background: #1f3b2c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background: #2d5c43;
}

/* PREVIEW */

.about-preview {
  padding: 80px 40px;
  text-align: center;
  background: #111;
}

.about-preview h3 {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 1.8rem;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  font-size: 0.9rem;
  color: #666;
}
