* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #0b0f0c;
  color: #e5e5e5;
}

/* NAVBAR */

header {
  background: #000;
  padding: 20px 40px;
  border-bottom: 1px solid #1f3b2c;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  letter-spacing: 6px;
  font-weight: 300;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

nav a:hover {
  color: #4c8b6d;
}
